<center>
  <%= devise_error_messages! %>
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2>Edit profile</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="field form-group">
          <%= f.label :name %>
          <%= f.text_field :name, 
            autofocus: true, 
            autocomplete: "name", 
            class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :password %>
          <%= f.password_field :password_confirmation, 
            autocomplete: "new-password",
            class: "form-control" %>
          <small>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum, please</em>
            <% end %>
            <br/>
            <i>(Leave blank if no changes are meant)</i>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation,
            autocomplete: "new-password",
            class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, 
            autocomplete: "current_password",
            class: "form-control" %>
          <small><i>(Your current password is needed to confirm the changes)</i></small>
        </div>


        <div class="actions">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
    <br/>
</center>

<center>
  <div class="row justify-content-center">
    <div class="col-4">
      <h3>Unhappy?</h3>
        <%= button_to "Cancel my account",
          profile_path, 
          data: { confirm: "Are you sure?" },
          method: :delete,
          class: "btn btn-danger" %>
        <br/>

        <%= link_to "Back", :back, class: "btn btn-primary" %>
    </div>
  </div>
</center>

