<br/>
<%= link_to 'Create new recipe', recipes_new_path %>
<br/>
<%= link_to 'Create a new coffee profile', coffee_profiles_new_path %>
<br/>
Coffee:
<br/>
<table style="width:100%">
  <thead>
    <th>Id</th>
    <th>Coffee</th>
    <th>Quantity</th>
    <th>Method</th>
    <th>Water temperature</th>
    <th>Water amount</th>
    <th>Grind</th>
    <th>Aroma</th>
    <th>Aroma points</th>
    <th>Taste</th>
    <th>Taste points</th>
    <th>Body</th>
    <th>Body points</th>
    <th>Astringency</th>
    <th>Astringency points</th>
  </thead>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.id %></td>
    <td><%= recipe.coffee %></td>
    <td><%= recipe.quantity %></td>
    <td><%= recipe.method %></td>
    <td><%= recipe.water_temperature %></td>
    <td><%= recipe.water_amount %></td>
    <td><%= recipe.grind %></td>
    <td><%= recipe.aroma %></td>
    <td><%= recipe.aroma_points %></td>
    <td><%= recipe.taste %></td>
    <td><%= recipe.taste_points %></td>
    <td><%= recipe.body %></td>
    <td><%= recipe.body_points %></td>
    <td><%= recipe.astringency %></td>
    <td><%= recipe.astringency_points %></td>
  </tr>
  <% end %>
</table>
