<center><h1><strong>Create New Recipe</strong></h1></center>
<div class="recipes_form">
  <%= form_for(@recipe) do |f| %>
    <div class="recipes_form_item">
      <%= f.label :coffee %>
      <%= f.text_field :coffee %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :method %>
      <%= f.text_field :method %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :water_temperature %>
      <%= f.number_field :water_temperature %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :water_amount %>
      <%= f.number_field :water_amount %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :grind %>
      <%= f.text_field :grind %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :aroma %>
      <%= f.text_field :aroma %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :aroma_points %>
      <%= f.number_field :aroma_points %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :taste %>
      <%= f.text_field :taste %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :taste_points %>
      <%= f.number_field :taste_points %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :body_points %>
      <%= f.number_field :body_points %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :astringency %>
      <%= f.text_field :astringency %>
    </div>
    <div class="recipes_form_item">
      <%= f.label :astringency_points %>
      <%= f.number_field :astringency_points %>
    </div>
    <div class="recipes_form_item">
      <%= f.submit :Submit %>
    </div>
  <% end %>
</div>
