<h1>Create new recipe</h1>
<br/>
<%= form_for Recipe.new do |f| %>
  <%= f.label :coffee %>
  <%= f.text_field :coffee %>
  <br/><br/>
  <%= f.label :quantity %>
  <%= f.number_field :quantity%>
  <br/><br/>
  <%= f.label :method %>
  <%= f.text_field :method %>
  <br/><br/>
  <%= f.label :water_temperature %>
  <%= f.number_field :water_temperature %>
  <br/><br/>
  <%= f.label :water_amount %>
  <%= f.number_field :water_amount %>
  <br/><br/>
  <%= f.label :grind %>
  <%= f.text_field :grind %>
  <br/><br/>
  <%= f.label :aroma %>
  <%= f.text_field :aroma %>
  <br/><br/>
  <%= f.label :aroma_points %>
  <%= f.number_field :aroma_points %>
  <br/><br/>
  <%= f.label :taste %>
  <%= f.text_field :taste %>
  <br/><br/>
  <%= f.label :taste_points %>
  <%= f.number_field :taste_points %>
  <br/><br/>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <br/><br/>
  <%= f.label :body_points %>
  <%= f.number_field :body_points %>
  <br/><br/>
  <%= f.label :astringency %>
  <%= f.text_field :astringency %>
  <br/><br/>
  <%= f.label :astringency_points %>
  <%= f.number_field :astringency_points %>
  <br/><br/>
  <%= f.submit %>
<% end %>