<nav class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Coffee Connection", root_path, 
      class:  "navbar-brand", 
      style:  "margin-left: 50px;"
       %>
  <%= link_to "Coffee Profiles", coffee_profiles_path,
      class:  "navbar-brand",
      style:  "margin-letf: 100px;" %>
  <%= link_to "Recipes",recipes_path,
      class:  "navbar-brand",
      style:  "margin-left: 10px;" %>

  <div class="navbar-nav ml-auto">
    <%= link_to "Log in",
        new_user_session_path,
        class: "btn btn-primary nav-btn",
        role:  "button", 
        style: "margin-right: 10px;" %>
    <%= link_to "Sign up",
        new_user_registration_path, 
        class: "btn btn-primary nav-btn",
        role: "button",
        style: "margin-right: 40px;" %>
  </div>
</nav>
