<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeConnection</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <% flash.each do |key, value| %>
              <%= content_tag :p, value, class: "alert alert-danger flash#{key}" if key == 'alert' %>
              <%= content_tag :p, value, class: "alert alert-success flash#{key}" if key == 'notice'%>
          <% end %>
          </div>
        </div>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
